snippet tag Tag
  <${1:}>
    ${2}
  </$1>

snippet ilt Inline Tag
  <${1:}>${2}</$1>

snippet hljshs HighlightJS Haskell Code Block
  <pre><code class="hljs haskell" data-trim data-line-numbers>
  ${1}
  </code></pre>

snippet hljspy HighlightJS Python Code Block
  <pre><code class="hljs python" data-trim data-line-numbers>
  ${1}
  </code></pre>

snippet hljsghci HighlightJS GHCI Code Block
  <pre><code class="hljs haskell" data-trim>
  ${1}
  </code></pre>
